 

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,400 C 0,400 0,100 0,100 C 95.32142857142858,103.17857142857143 190.64285714285717,106.35714285714286 318,107 C 445.35714285714283,107.64285714285714 604.75,105.75 719,99 C 833.25,92.25 902.3571428571429,80.64285714285715 1015,80 C 1127.642857142857,79.35714285714285 1283.8214285714284,89.67857142857142 1440,100 C 1440,100 1440,400 1440,400 Z"
      );
    }
    25% {
      d: path(
        "M 0,400 C 0,400 0,100 0,100 C 157.5,77.35714285714286 315,54.71428571428572 415,62 C 515,69.28571428571428 557.5,106.49999999999997 657,124 C 756.5,141.50000000000003 913,139.28571428571428 1053,132 C 1193,124.71428571428571 1316.5,112.35714285714286 1440,100 C 1440,100 1440,400 1440,400 Z"
      );
    }
    50% {
      d: path(
        "M 0,400 C 0,400 0,100 0,100 C 93.85714285714286,85.92857142857143 187.71428571428572,71.85714285714286 322,71 C 456.2857142857143,70.14285714285714 631.0000000000001,82.50000000000001 761,95 C 890.9999999999999,107.49999999999999 976.2857142857142,120.14285714285714 1082,121 C 1187.7142857142858,121.85714285714286 1313.857142857143,110.92857142857143 1440,100 C 1440,100 1440,400 1440,400 Z"
      );
    }
    75% {
      d: path(
        "M 0,400 C 0,400 0,100 0,100 C 139,102.35714285714286 278,104.71428571428571 391,98 C 504,91.28571428571429 591.0000000000001,75.5 710,85 C 828.9999999999999,94.5 980,129.28571428571428 1107,136 C 1234,142.71428571428572 1337,121.35714285714286 1440,100 C 1440,100 1440,400 1440,400 Z"
      );
    }
    100% {
      d: path(
        "M 0,400 C 0,400 0,100 0,100 C 95.32142857142858,103.17857142857143 190.64285714285717,106.35714285714286 318,107 C 445.35714285714283,107.64285714285714 604.75,105.75 719,99 C 833.25,92.25 902.3571428571429,80.64285714285715 1015,80 C 1127.642857142857,79.35714285714285 1283.8214285714284,89.67857142857142 1440,100 C 1440,100 1440,400 1440,400 Z"
      );
    }
  }
  .path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1 {
    0% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 85.07142857142858,182.71428571428572 170.14285714285717,165.42857142857142 308,177 C 445.85714285714283,188.57142857142858 636.5,229 785,236 C 933.5,243 1039.8571428571427,216.57142857142858 1142,205 C 1244.1428571428573,193.42857142857142 1342.0714285714287,196.71428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    25% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 128.89285714285717,216.21428571428572 257.78571428571433,232.42857142857142 388,235 C 518.2142857142857,237.57142857142858 649.75,226.5 777,219 C 904.25,211.5 1027.2142857142858,207.57142857142858 1137,205 C 1246.7857142857142,202.42857142857142 1343.392857142857,201.21428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    50% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 143.53571428571428,222.14285714285714 287.07142857142856,244.28571428571428 396,230 C 504.92857142857144,215.71428571428572 579.2499999999999,165.00000000000003 682,165 C 784.7500000000001,164.99999999999997 915.9285714285716,215.7142857142857 1047,230 C 1178.0714285714284,244.2857142857143 1309.0357142857142,222.14285714285717 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    75% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 107.67857142857142,178.21428571428572 215.35714285714283,156.42857142857142 330,164 C 444.64285714285717,171.57142857142858 566.25,208.49999999999994 692,225 C 817.75,241.50000000000006 947.6428571428571,237.5714285714286 1073,230 C 1198.357142857143,222.4285714285714 1319.1785714285716,211.2142857142857 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    100% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 85.07142857142858,182.71428571428572 170.14285714285717,165.42857142857142 308,177 C 445.85714285714283,188.57142857142858 636.5,229 785,236 C 933.5,243 1039.8571428571427,216.57142857142858 1142,205 C 1244.1428571428573,193.42857142857142 1342.0714285714287,196.71428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
  }
  .path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2 {
    0% {
      d: path(
        "M 0,400 C 0,400 0,300 0,300 C 117,307.67857142857144 234,315.35714285714283 368,323 C 502,330.64285714285717 653,338.25 780,327 C 907,315.75 1010,285.6428571428571 1116,278 C 1222,270.3571428571429 1331,285.17857142857144 1440,300 C 1440,300 1440,400 1440,400 Z"
      );
    }
    25% {
      d: path(
        "M 0,400 C 0,400 0,300 0,300 C 151.53571428571428,309.0357142857143 303.07142857142856,318.07142857142856 409,325 C 514.9285714285714,331.92857142857144 575.2500000000001,336.74999999999994 676,334 C 776.7499999999999,331.25000000000006 917.9285714285713,320.92857142857144 1052,314 C 1186.0714285714287,307.07142857142856 1313.0357142857142,303.5357142857143 1440,300 C 1440,300 1440,400 1440,400 Z"
      );
    }
    50% {
      d: path(
        "M 0,400 C 0,400 0,300 0,300 C 79.85714285714286,300.32142857142856 159.71428571428572,300.64285714285717 293,304 C 426.2857142857143,307.35714285714283 612.9999999999999,313.75 761,305 C 909.0000000000001,296.25 1018.2857142857144,272.35714285714283 1125,269 C 1231.7142857142856,265.64285714285717 1335.8571428571427,282.82142857142856 1440,300 C 1440,300 1440,400 1440,400 Z"
      );
    }
    75% {
      d: path(
        "M 0,400 C 0,400 0,300 0,300 C 143.07142857142858,294.67857142857144 286.14285714285717,289.35714285714283 389,285 C 491.85714285714283,280.64285714285717 554.4999999999999,277.25 660,282 C 765.5000000000001,286.75 913.8571428571429,299.6428571428571 1051,304 C 1188.142857142857,308.3571428571429 1314.0714285714284,304.17857142857144 1440,300 C 1440,300 1440,400 1440,400 Z"
      );
    }
    100% {
      d: path(
        "M 0,400 C 0,400 0,300 0,300 C 117,307.67857142857144 234,315.35714285714283 368,323 C 502,330.64285714285717 653,338.25 780,327 C 907,315.75 1010,285.6428571428571 1116,278 C 1222,270.3571428571429 1331,285.17857142857144 1440,300 C 1440,300 1440,400 1440,400 Z"
      );
    }
  }